#star{

	font-size: 30px;
	color: yellow;
}

#bg1{

	/*background-image: url('../images/starblur.png');*/
	background-image: url('../images/starring.png');
	background-repeat: repeat;
	height: 330px;
	width: 100%;
}
.jumbotron{
	background-image: url('../images/starring.png');
}
.jumbotron>p{

	color: white;
}
p{
	font-family: 'Raleway';
}
p>ol>li{

	font-family: 'Raleway';
}

.centered{

	text-align: center;
}

.submit{

	margin: 0 auto;
	width: 100px;
}

#addbutton{

	cursor:pointer;
}

#login{

	background-color: #E8E8E8;
	padding: 20px;
	-moz-border-radius: 15px;
border-radius: 15px;
}

.movedown{

	margin-top: 100px;
}
.movedownmore{

	margin-top: 120px;	
}
.info{

	border-top: 2px solid yellow;
}

.navbar-fixed-top{

	background-color: white;
	padding: 10px;
}

h1{

	font-family: 'Bitter';
}

h2{

	font-family: 'Bitter';
}

.jumbotron h1{

	color: white;
}

h3{

	font-family: 'Raleway';
}

.rotate {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

h4{

	font-family: 'Raleway';
}
.navbar-fixed-top .btn-info{
	background: none;
	border: 1px solid yellow;
}

.white{

	color: white;
}

#footer{

	margin-top: 100px;
	background-color: gray;
	padding: 15px;
	margin-bottom: 0px;
}

.black{

	color: black;
}
.star {
    -webkit-animation:spin 15s linear infinite;
    -moz-animation:spin 15s linear infinite;
    animation:spin 15s linear infinite;
	font-size: 30px;
	color: yellow;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }