#star{

	font-size: 30px;
	color: yellow;
}

#bg1{

	/*background-image: url('../images/starblur.png');*/
	background-color: gray;
	height: 330px;
	width: 100%;
	background-size: cover;
}
.jumbotron{
	background-color: gray;
}
.jumbotron>p{

	color: white;
}
p{
	font-family: 'Raleway';
}
.centered{

	text-align: center;
}

.submit{

	margin: 0 auto;
	width: 100px;
}

#addbutton{

	cursor:pointer;
}

#login{

	background-color: #E8E8E8;
	padding: 20px;
	-moz-border-radius: 15px;
border-radius: 15px;
}

.movedown{

	margin-top: 100px;
}
.info{

	border-top: 2px solid yellow;
}

.navbar-fixed-top{

	background-color: white;
	padding: 10px;
}

h1{

	font-family: 'Bitter';
}

h2{

	font-family: 'Bitter';
}

.jumbotron h1{

	color: white;
}

h3{

	font-family: 'Raleway';
}

h4{

	font-family: 'Raleway';
}
.navbar-fixed-top .btn-info{
	background: none;
	border: 1px solid yellow;
}

.white{

	color: white;
}

#footer{

	margin-top: 100px;
	background-color: gray;
	padding: 15px;
}
